h1, h2 {
    text-align: center;
    color: rgb(0, 217, 255);
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: rgba(255, 255, 255, 0.7);
}
#login {
    text-align: center;
    background-color: #646768;
    margin-left: 500px;
    margin-right: 500px;
    margin-top:200px;
    margin-bottom:200px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 2px 2px 12px black;

}
#main{
    text-align: center;
    background-color: #687171;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 2px 2px 12px rgb(15, 14, 14);
}

button:hover{
    background-color: black;
    box-shadow: black;
    color: #05638b;

}
input{
    background-color: brown;
    align-items: center;
}
.textarea{
    border-radius: 10px;
}