body {
    background-color: black;
}
button {
    background-color: seagreen;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}
.header {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px rgba(62, 59, 59, 0.568);
    line-height: 1px;
    color: seagreen;
}
#middle {
    color: rgb(0, 0, 0);
    height: 488px;
    width: 150px;
    background-color: seagreen;
    box-shadow: 2px 2px 9px rgba(16, 237, 82, 0.9);
    border-radius: 5px;
    margin-left:5px;
    text-align: center;
}
#middle_01 {
      color: rgb(0, 0, 0);
    height: 150px;
    width: 150px;
    background-color: seagreen;
    box-shadow: 2px 2px 9px rgba(16, 237, 82, 0.9);
    border-radius: 5px;
    margin-left:5px;
    text-align: center;
}