h1, h2 {
    text-align: center;
    color: rgb(117, 158, 165);
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: rgb(41, 34, 34);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #748f9b;
    max-width: 600px;
    margin: 0 auto;
}
form {
    text-align: center;
    margin-top: 20px;
    border-top-style: solid;
    text-decoration-color: rgb(97, 97, 101);
    text-shadow: 2px 2px 4px hsl(0, 3%, 38%);
    font-style: italic;
}
#login {
    text-align: center;
    background-color: #868080;
    margin-left: 230px;
    margin-right: 230px;
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 10px;

}
input{
    background-color: brown;
    align-items: center;
}