h1, h2 {
    text-align: center;
    color: rgb(218, 29, 174);
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: rgb(14, 176, 236);
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #784667;
    max-width: 600px;
    margin: 0 auto;
}
form {
    text-align: center;
    margin-top: 20px;
    border-top-style: hidden;
    text-decoration-color: rgb(70, 70, 170);
    text-shadow: 2px 2px 4px #aaa;
    font-style: italic;
}