h1, h2 {
    text-align: center;
    color: rgb(31, 55, 59);
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: rgba(41, 149, 196,0.7);
}
#login {
    text-align: center;
    background-color: #086f89;
    margin-left: 230px;
    margin-right: 230px;
    padding: 30px;
    border: 1px solid #3acbe8;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 2px 2px 12px black;

}
#main{
    text-align: center;
    background-color: #086f89;
    margin-left: 230px;
    margin-right: 230px;
    padding: 30px;
    border: 1px solid #3acbe8;
    border-radius: 50px;
    box-shadow: 2px 2px 12px rgb(4, 15, 225);
}

button:hover{
    background-color: black;
    box-shadow: black;
    color: #05638b;

}
input{
    background-color: brown;
    align-items: center;
}
.textarea{
    border-radius: 10px;
}