h1, h2 {
    text-align: center;
    color: rgb(0, 217, 255);
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: rgba(143, 141, 141, 0.301);
    background-image: url("namaste_duniya\image_01.webp");
    background-size: cover;  
}

#login {
    text-align: center;
    background-color: #545b6c;
    margin-left: 500px;
    margin-right: 500px;
    margin-top:200px;
    margin-bottom:200px;
    padding: 30px;
    border: 1px solid #1be1d1;
    border-radius: 50px;
    opacity: 0.8;
    box-shadow: 2px 2px 12px black;
    background-image: url('namaste_duniya\image_01.webp');
    background-size: cover;

}
#main{
    text-align: center;
    background-color: #687171;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 50px;
    box-shadow: 2px 2px 12px rgb(15, 14, 14);
}

button:hover{
    background-color: black;
    box-shadow: black;
    color: #05638b;

}
input{
    background-color: brown;
    align-items: center;
}
.textarea{
    border-radius: 10px;
}
