*{
    background-color: rgb(0, 0, 0);

}
button {
    background-color: seagreen;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}
.header {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px rgba(62, 59, 59, 0.568);
    line-height: 1px;
    color: seagreen;
}
#middle {
    color: rgb(137, 69, 137);
    height: 100px;
    width: 150px;
    background: linear-gradient(135deg, seagreen, rgb(46, 125, 50));
    border-radius: 2px;
}
